# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Variables de entorno y configuraciones sensibles
.env
.env.*
!.env.example

# Distribución / empaquetado
dist/
build/
*.egg-info/

# Entornos virtuales
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/
*.code-workspace

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
